<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <script>var quotes = {{ site.data.quotes | jsonify }};</script>
  <script defer src="{{ site.baseurl }}/assets/js/main.js"></script>
</head>
<body>
  <header class="site-header">
    <h1>
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/icons/home.svg"
             alt="Home"
             class="icon">
        {{ site.title }}
      </a>
    </h1>
    <nav>
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/icons/home.svg"
             alt="Home"
             class="icon">
        Home
      </a>
      |
      <a href="{{ site.baseurl }}/admin/">
        <img src="{{ site.baseurl }}/assets/icons/filter.svg"
             alt="Admin"
             class="icon">
        Admin
      </a>
      <button id="dark-toggle" title="Toggle dark mode">
        🌙
      </button>
    </nav>
  </header>

  <div class="container">
    {{ content }}
  </div>
</body>
</html>
